NodeRedKYD.txt
[{"id":"dbd47466.b3c72","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e9d209c4.bd8938","type":"debug","z":"dbd47466.b3c72","name":"Received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":400,"wires":[]},{"id":"c32cdb5.32fc7a8","type":"http request","z":"dbd47466.b3c72","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/keep_your_distance/with/key/cdf2k0I4FQhnVuv3dTA4Q5","tls":"","x":670,"y":40,"wires":[[]]},{"id":"ed8d9225.bcf63","type":"inject","z":"dbd47466.b3c72","name":"","topic":"","payload":"{\"value1\":\"3\",\"value2\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":40,"wires":[["c2aa2c54.3972f"]]},{"id":"b52a5b01.e7f75","type":"tcp in","z":"dbd47466.b3c72","name":"","server":"client","host":"","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":180,"wires":[["a9cb7173.d70538"]]},{"id":"ead55215.67b238","type":"tcp in","z":"dbd47466.b3c72","name":"","server":"client","host":"","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":240,"wires":[["a9cb7173.d70538"]]},{"id":"a18f5ee7.9e15","type":"tcp in","z":"dbd47466.b3c72","name":"","server":"client","host":"","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":300,"wires":[["a9cb7173.d70538"]]},{"id":"56cf7804.27c598","type":"tcp in","z":"dbd47466.b3c72","name":"","server":"client","host":"","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":360,"wires":[["a9cb7173.d70538"]]},{"id":"5ed5cd49.34914c","type":"tcp in","z":"dbd47466.b3c72","name":"","server":"client","host":"","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":420,"wires":[["a9cb7173.d70538"]]},{"id":"a9cb7173.d70538","type":"json","z":"dbd47466.b3c72","name":"","property":"payload","action":"str","pretty":true,"x":370,"y":300,"wires":[["e9d209c4.bd8938","659ca7ce.5c6718"]]},{"id":"bc98b03a.bdb81","type":"function","z":"dbd47466.b3c72","name":"Time","func":"var d = new Date();\nvar date = String(d.getDate())+\"/\"+String(d.getMonth()+1)+\"/\"+String(d.getFullYear()-2000)+\" \"+String(d.getHours())+\":\"+String(d.getMinutes()); \nmsg.payload[\"value3\"] = date;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["67edde9.a5479a","c32cdb5.32fc7a8"]]},{"id":"c2aa2c54.3972f","type":"json","z":"dbd47466.b3c72","name":"","property":"payload","action":"obj","pretty":true,"x":330,"y":40,"wires":[["bc98b03a.bdb81"]]},{"id":"67edde9.a5479a","type":"debug","z":"dbd47466.b3c72","name":"Test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":100,"wires":[]},{"id":"659ca7ce.5c6718","type":"function","z":"dbd47466.b3c72","name":"Time","func":"var d = new Date();\nvar date = String(d.getDate())+\"/\"+String(d.getMonth()+1)+\"/\"+String(d.getFullYear()-2000)+\" \"+String(d.getHours())+\":\"+String(d.getMinutes()); \nmsg.payload[\"value3\"] = date;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["319816cf.dff1ea"]]},{"id":"319816cf.dff1ea","type":"http request","z":"dbd47466.b3c72","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/keep_your_distance/with/key/cdf2k0I4FQhnVuv3dTA4Q5","tls":"","x":750,"y":300,"wires":[[]]}]